{{ native_text }}
[{{ ipa }}]
{% for fragment in fragments %}
    {% if fragment.fragment_type == 'target_learning_item' %}
        [sound:asset_{{fragment.assets[0].id}}.mp3]
    {% endif %}
{% endfor %}
